mixin header
  header.page-header
    nav
      .logo

      ul
        li Продукты
        li
          a(href="/portfolio") Наши проекты
        li Компания

      .page-header__btn-group
        button напишите нам
        a(href="https://lk.getmobit.ru/site/login") вход в личный кабинет


